.react-calendar {
    height: 100% !important;  /* Override default react-calendar styling */
    width: 100%  !important;
  }

.widget {
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .custom-calendar .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .react-calendar__tile--has-tasks {
    border-radius: 50%;
  }

  .react-calendar__tile--active {
    background-color: #F0AF4D  !important;
    border: 2px solid #F0AF4D !important;
    border-radius: 15%;
  }

  .circle-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .base-circle {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
  }