.TopNavbar {
    position: fixed;
    width: calc(100% - 75px); /* Adjusted width */
    margin-right: 50px; /* Right margin */
    margin-left: 20px; 
    background-color: rgba(251, 251, 251, 1);
    padding: 10px 15px;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    z-index: 1000;
}

.TopNavbar .TaskInfo, .SettingsIconContainer {
    margin: 0 10px; 
    font-size: 16px; 
    font-weight: 500; 
}

.SettingsIconContainer {
    cursor: pointer; 
}

.SettingsIconContainer:hover {
    opacity: 0.8;
}

.SettingsIcon {
    width: 20px; 
    height: 20px;
  }
  
  @media (min-width: 600px) {
    .SettingsIcon {
      width: 35px; 
      height: 35px;
    }
  }




  
  
  