.editCardButton {
    height: fit-content;
    width: 44px;
    align-items: center !important;
    margin: 0;
    background-color: transparent;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
}

.editCardButton svg {
    display: block !important;
    margin: auto !important;
}

.editCardButton:focus,
.editCardButton.focus,
.editCardButton:hover {
    background-color: #AAA399 !important;
}

.invisibleButton {
    visibility: hidden;
    pointer-events: none;
}

.verticalText {
    transform: rotate(-90deg) translateX(-50%) translateY(10%);
    transform-origin: left bottom;
    position: absolute;
    left: 50%;
    bottom: 50%;
}

.addCard {
    background-color: #F0AF4D;
    border-color: #F0AF4D !important;
    color: white !important;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.addCard:focus,
.addCard.focus,
.addCard:hover {
    background-color: white !important;
    color: #F0AF4D !important;
}

.saveContainer {
    height: fit-content;
    width: fit-content;
    border-radius: 12px;
    border: 1px solid #AAA399;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-bottom: 20px;
}

.saveContainer > div {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.saveContainer > div > Button {
    width: 170px;
}


.saveLayoutButton {
    margin-right: 15px !important;
    color: green;
    border-color: green;
}

.saveLayoutButton:hover,
.saveLayoutButton:focus,
.saveLayoutButton:active {
    margin-right: 15px !important;
    background-color: green !important;
    border-color: green !important;
}



.btnCustomColor:hover,
.btnCustomColor:focus,
.btnCustomColor:active {
    background-color: gray !important;
}

.addCardButton {
    position: absolute;
    top: 70px;
    left: 50px;
    height: 44px;
    border: 1px solid #ffffff !important;
    background-color: #F0AF4D;
    font-weight: 550;
    }

.dashboardLayoutStyle{
    overflow: "auto";
}

.addCardButton:focus,
.addCardButton.focus,
.addCardButton:hover{
    background-color: #f0c993 !important;
}

.cardBody, .radioLabel, .selectionTitle, .btnCustomColor {
    font-family: 'Helvetica';
  }
  
  .cardBody {
    font-size: 1.1em; 
    color: #333; 
    padding: 10px;
  }
  
  
  .radioGroup {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    margin-bottom: 20px; 
  }
  
 
  .radioLabel {
    font-size: 1.05em; 
    color: #555; 
    display: flex;
    align-items: center; 
  }
  
  
  .radioInput {
    margin-right: 12px; 
    transform: scale(1.8); 
  }
  
  
  .projectSelectionContainer {
    margin-top: 10px; 
  }
  
  
  .selectionTitle {
    font-size: 1.2em; 
    font-weight: bold; 
    margin-bottom: 10px;
  }
  
 
  .buttonGroup {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
  }
  
  
  .btnCustomColor {
    font-size: 1em; 
    padding: 10px 15px;
  }
