.Sidebar {
    position: fixed;
    top: 62px; 
    right: 0; 
    height: calc(100vh - 550px);
    width: 250px; 
    background-color: rgba(251, 251, 251, 0.914);  
    padding: 10px; 
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1); 
    z-index: 1000; 
    overflow-y: auto; 
    font-family: 'Helvetica Neue', sans-serif; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.LogoutButton {
    margin-top: 10px; 
    padding: 5px 10px;
    background: none;
    border: none; 
    outline: none;
    padding: 5px 10px; 
    cursor: pointer;  
    
}

.LogoutButton:hover {
    background-color: rgba(220, 220, 220, 0.8); 
}

.LogoutButton img {
    width: 20px;  
    height: auto; 
    margin-right: 10px; 
  }

  @media (max-width: 768px) {
    .Sidebar {
        width: 200px; 
        right: 0; 
        top: 50px; 
    }

    .LogoutButton img {
        margin-right: 10px;
    }
}